<% @posts.each do |post| %>
	<h2 style="background-color:#808080;color:white">


<%= post.title %></h2>
	<div><%= truncate(post.body, :length => 250) %></div>
	<br>
	<%= link_to "Read Post", post %>



<% end %>
